<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
  <link rel="manifest" href="/public/images/manifest.json">
  <link rel="mask-icon" href="/public/images/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/public/images/favicon.ico">
  <meta name="msapplication-config" content="/public/images/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <meta name="google-site-verification" content="HXDXMyKXFMJgyFRB1hsaRnzBOh32beWk5mSts2gIufc"/>

  <title>Bruno de Rezende a.k.a. Brurez - Software engineer</title>

  <link rel="stylesheet" href="/scripts/normalize.css/normalize.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,500,600" rel="stylesheet">
  <link rel="stylesheet" href="/public/styles/style.css">
</head>

<body>
<div class="container">
  <header>
    <h1>Bruno de Rezende (Brurez) - Software engineer</h1>
    <p class="type" style="width: 100%">> <span class="type-here"></span></p>
    <div class="head">
      <div class="pic"><img src="/public/images/eu-circulo.jpg" alt="Bruno"/></div>
      <div class="content">
        I am specialized in the development of modern web applications using React and all its ecosystem.
        For the back-end, I have worked with NodeJS, Ruby and PHP during my career.
      </div>
    </div>
    <div class="head-contato">
      <div class="destaque"><i class="fa fa-phone"></i> +55 13 99765-9707</div>
      <a class="destaque" href="mailto:brurez@hotmail.com"><i class="fa fa-envelope-o"></i> brurez@hotmail.com</a>
    </div>
  </header>

  <nav class="menu">
    <div class="item"><a href="#projetos"><i class="fa fa-flask"></i> Projects</a></div>
    <div class="item"><a href="#habilidades"><i class="fa fa-line-chart"></i> Skills</a></div>
    <div class="item"><a href="#sobre"><i class="fa fa-user-secret"></i> About me</a></div>
    <div class="item"><a href="#contato"><i class="fa fa-envelope"></i> Contact</a></div>
    <div class="item"><a href="#github"><i class="fa fa-github"></i> Github</a></div>
  </nav>

  <main class="pages">
    <section id="projetos" class="page">
      <h2><i class="fa fa-flask"></i> Current projects</h2>
      <div class="item">
        <h3>
          RZAge
          <span class="svg-icon svg-baseline">
                <img src="/public/images/js.svg" alt="javscript"/>
              </span>
          <a href="http://rzage.com">rzage.com <i class="fa fa-arrow-right"></i> </a>
        </h3>
        <div class="projeto">
          <div>
            <span>Appointment scheduling application that calls the patients to confirm their appointments.</span>
            <h4><i class="fa fa-info-circle"></i> Use the information bellow to test the app:</h4>
            <div class="ib">
              <ul>
                <li><strong>Email:</strong> demo@demo.com</li>
                <li><strong>Password:</strong> demo1234</li>
              </ul>
            </div>
            <div class="ib">
              <a class="destaque bigger" href="http://rzage.com/login?email=demo@demo.com&password=demo1234">
                <strong>TEST</strong> <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
            <h4 class="tec-header">Technologies used</h4>
            <span class="label"><i class="devicon-react-original colored"></i> React</span>
            <span class="label"><i class="devicon-atom-original"></i> Redux</span>
            <span class="label"><i class="devicon-express-original colored"></i> Express</span>
            <span class="label"><i class="devicon-mongodb-plain colored"></i> MongoDB</span>
            <span class="label"><i class="devicon-heroku-original colored"></i> Heroku</span>
          </div>
          <div><img src="/public/images/rzage-ss.jpg" alt="rzage"/></div>
        </div>
      </div>

      <div class="item">
        <h3>
          Toplayalong
          <span class="svg-icon svg-baseline">
                <svg viewBox="0 0 128 128">
                  <path fill="#6181B6"
                        d="M64 33.039c-33.74 0-61.094 13.862-61.094 30.961s27.354 30.961 61.094 30.961 61.094-13.862 61.094-30.961-27.354-30.961-61.094-30.961zm-15.897 36.993c-1.458 1.364-3.077 1.927-4.86 2.507-1.783.581-4.052.461-6.811.461h-6.253l-1.733 10h-7.301l6.515-34h14.04c4.224 0 7.305 1.215 9.242 3.432 1.937 2.217 2.519 5.364 1.747 9.337-.319 1.637-.856 3.159-1.614 4.515-.759 1.357-1.75 2.624-2.972 3.748zm21.311 2.968l2.881-14.42c.328-1.688.208-2.942-.361-3.555-.57-.614-1.782-1.025-3.635-1.025h-5.79l-3.731 19h-7.244l6.515-33h7.244l-1.732 9h6.453c4.061 0 6.861.815 8.402 2.231s2.003 3.356 1.387 6.528l-3.031 15.241h-7.358zm40.259-11.178c-.318 1.637-.856 3.133-1.613 4.488-.758 1.357-1.748 2.598-2.971 3.722-1.458 1.364-3.078 1.927-4.86 2.507-1.782.581-4.053.461-6.812.461h-6.253l-1.732 10h-7.301l6.514-34h14.041c4.224 0 7.305 1.215 9.241 3.432 1.935 2.217 2.518 5.418 1.746 9.39zM95.919 54h-5.001l-2.727 14h4.442c2.942 0 5.136-.29 6.576-1.4 1.442-1.108 2.413-2.828 2.918-5.421.484-2.491.264-4.434-.66-5.458-.925-1.024-2.774-1.721-5.548-1.721zM38.934 54h-5.002l-2.727 14h4.441c2.943 0 5.136-.29 6.577-1.4 1.441-1.108 2.413-2.828 2.917-5.421.484-2.491.264-4.434-.66-5.458s-2.772-1.721-5.546-1.721z"></path>
                </svg>
              </span>
          <span class="svg-icon svg-baseline">
                <img src="/public/images/js.svg" alt="javscript"/>
              </span>
          <a href="http://toplayalong.com">toplayalong.com <i class="fa fa-arrow-right"></i></a>
        </h3>
        <div class="projeto">
          <div>
                <span>
                  A SaaS where the musicians can follow interactive sheet musics with background tracks.
                  A Javascript application shows to the musician the place in the score where
                  the piano backtrack is playing at the moment. The website have more than one thousand scores
                  that helps musicians all over the world to practice their favorite instruments.
                </span>
            <h4 class="tec-header">Technologies used</h4>
            <span class="label"><i class="devicon-wordpress-plain colored"></i> Wordpress</span>
            <span class="label"><i class="devicon-jquery-plain colored"></i> Jquery</span>
            <span class="label"><i class="devicon-javascript-plain colored"></i> Javascript</span>
            <span class="label"><i class="devicon-css3-plain colored"></i> CSS3 </span>
            <span class="label"><i class="devicon-gulp-plain colored"></i> Gulp</span>

          </div>
          <div>
            <img src="/public/images/tpa-ss.jpg" alt="Toplayalong"/>
          </div>

        </div>
      </div>

      <div class="item">
        <h3>
          react-hold-height
          <span class="svg-icon svg-baseline">
                <img src="/public/images/js.svg" alt="javscript"/>
              </span>
          <span class="svg-icon svg-baseline">
                <img src="/public/images/npm.svg" alt="npmjs"/>
              </span>
          <a href="https://www.npmjs.com/package/react-hold-height">
            npmjs.com <i class="fa fa-arrow-right"></i>
          </a>
        </h3>
        <p>
          React component that holds the maximum height established by a sub component even
          if it no longer is being rendered. Useful for pagination!</p>
        <h4 class="tec-header">Technologies used</h4>
        <span class="label"><i class="devicon-react-original colored"></i> React</span>
      </div>

    </section>

    <!-- ---------------------------------------- -->

    <section id="habilidades" class="page">
      <h2><i class="fa fa-line-chart"></i> Skills</h2>
      <div id="skills">
        <!-- Thank you http://w3lessons.info/2013/06/04/skill-bar-with-jquery-css3/ -->
      </div>
    </section>

    <!-- ---------------------------------------- -->

    <section id="sobre" class="page">
      <img style="border: none" src="/public/images/sobre.jpg" alt="sobre"/>
      <h2><i class="fa fa-user-secret"></i> About me</h2>
      <p>I am 37 years old and since 2009 I have being working with web developing.</p>

      <div class="item">
        <h3><i class="fa fa-flag"></i> 2009 / 2013 - Brosz</h3>
        <img src="/public/images/aikade-ss.jpg" alt="aikade"/>
        <img class="space-right" src="/public/images/vitrine-ss.jpg" alt="vitrine"/>
        <p>
          I was since the beginning of the company and was responsible for the creation
          of the company e-commerce platform.
          Our first project became the biggest games e-commerce in South America in its time with offices in Brazil and United States.
          I worked developing the e-commerce solution and tools that have ensured our competitive advantage in the market.
          We also created other e-commerce websites for partners using our experience scaling our solution.
        </p>
      </div>

      <div class="item">
        <h3><i class="fa fa-flag"></i> 2015 / until today - Toplayalong.com</h3>
        <img src="/public/images/tpa-ss2.jpg" alt="toplayalong"/>
        <p>
          I am the founder and developer of this project that is an interactive website used by musicians
          all over the world. We have more than one thousand scores for many musical instruments.
          A Javascript application helps the musician to follow the sheet music while the piano
          accompaniment backtrack is played.
          We have also other tools for musicians like Metronome and Tuner.
        </p>
      </div>

      <div class="item">
        <h3><i class="fa fa-flag"></i> 2018 Feb. / today - Resultados Digitais</h3>
        <p>
          Resultados Digitais is the leading inbound marketing software platform for SMB business in South America.
          I have been working with front-end development using React to build top notch user experiences for the RD
          flagship product: RDStation.
        </p>
      </div>

    </section>

    <!-- ---------------------------------------- -->

    <section id="contato" class="page">
      <h2><i class="fa fa-envelope"></i> Contact</h2>
      <div class="cols">

        <div class="col60">
          <form id="form" class="form">
            <input name="name" placeholder="NAME"/>
            <input type="email" name="from" placeholder="EMAIL"/>
            <input name="phone" placeholder="PHONE"/>
            <textarea name="msg" placeholder="MESSAGE"></textarea>
            <button id="submit" type="submit">SEND <i class="fa fa-paper-plane"></i></button>
          </form>
          <div id="form-msg">

          </div>
        </div>

        <div class="col40 bigger">
          <div>
            <h4>Phone:</h4>
            <i class="fa fa-whatsapp"></i> +55 13 99765-9707
          </div>
          <div>
            <h4>Email:</h4>
            <i class="fa fa-envelope-o"></i> brurez@hotmail.com
          </div>
        </div>
      </div>

    </section>

    <!-- ---------------------------------------- -->

    <section id="github" class="page">
      <h2><i class="fa fa-github"></i> Github</h2>
      <a class="destaque bigger" href="https://github.com/brurez">
        https://github.com/brurez <i class="fa fa-arrow-right"></i>
      </a>
      <h3>Repos</h3>
      <ul>
        <li>
          <i class="fa fa-code-fork" aria-hidden="true"></i>
          <strong><a href="https://github.com/brurez/react-hold-height">react-hold-height</a></strong>:
          React component that holds the height of its subcomponents even when they are not being
          rendered at the moment. Very useful for pagination!
        </li>
      </ul>
    </section>

  </main>
</div>
</div>

<footer class="in-shadow">
  <div class="container">
    <div class="destaque" style="margin-bottom: 1em">
      The source code of this website is available on: <br/>
      <a href="https://github.com/brurez/portifolio">https://github.com/brurez/portifolio</a>
      <i class="fa fa-github-alt"></i>
    </div>
    <div>Bruno de Rezende © 2017-<span id="ano"></span></div>
  </div>
</footer>

<script src="/public/client.js"></script>
{{#if dev}}
  <script src="/reload/reload.js"></script>
{{else}}
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-71557988-2', 'auto');
    ga('send', 'pageview');
  </script>

{{/if}}
</body>
</html>

<link rel="stylesheet" href="public/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
      href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<link rel="stylesheet" href="/public/styles/form.css">
