/* Border-Box */
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #FFFFFF;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-smoothing: antialiased;
}

strong {
  font-weight: 600;
}

h1 {
  font-size: 0;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  color: #333333;
  margin: 0.7em 0;
}

a {
  color: #666666;
  text-decoration: none;
}

a:hover {
  color: #1c78c0;
}

img {
  border: 4px solid #EEEEEE;
  box-shadow: 1px 1px 1px #BBB;
  height: auto;
  vertical-align: middle;
  max-width: 100%;
}

textarea {
  resize: none;
}

footer {
  background-color: #666666;
  color: #FFFFFF;
  text-align: center;
  padding: 10px 0;
  margin: 40px 0 0;
}

footer a {
  color: #eeeeee;
}

footer .container {
  margin-bottom: 0 !important;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 10px auto;
  padding: 0 10px;
}
.type {
  font-size: 1.6em;
  font-weight: 500;
  min-height: 2.8em;
  margin-top: 0.6em;
}
.head, .head-contato {
  font-size: 20px;
  display: flex;
}
.head > .pic > img{
  height: 100px;
  width: 100px;
  border: none;
  box-shadow: none;
}
.head > .content {
  flex: 1 1;
  margin-left: 26px;
}

.head-contato {
  margin-top: 11px;
  justify-content: center;
  flex-wrap: wrap;
}

.menu {
  display: flex;
  background-color: #EEEEEE;
  margin-top: 18px;
  padding: 8px 8px;
  font-size: 20px;
  font-weight: 500;
  top: 0;
  z-index: 1000;
  box-shadow: 0 1px 1px #BBB;
  flex-wrap: wrap;
  flex-direction: column;
}
.menu > .item {
  flex: 1 1 auto;
  text-align: center;
  text-decoration: none;
  padding: 6px 10px;
}

.menu > .item:last-child {
  border: none;
}
.pages {
  margin-top: 10px;
}
.page > .item {
  border-left: 6px solid #666666;
  padding:  0 0 0 14px;
}
.page > .item {
  border-left: 6px solid #666666;
  padding: 0 0 0 16px;
  margin: 0 0 0 -10px;
}
.page {
  margin-top: 40px;
}
.page:focus{
  outline: none;
}
.projeto {
  display: flex;
  flex-wrap: wrap;
}
.projeto > div:first-child {
  border-right: 1px solid #eeeeee;
  flex: 2 1;
  padding-right: 10px;
  min-width: 300px;
  /* margin-bottom: 16px; */
}
.projeto > div:last-child {
  flex: 1 1;
  /* margin-left: 20px; */
  min-width: 240px;
}

.label {
  background-color: #EEEEEE;
  box-shadow: 1px 1px 1px #BBB;
  border-radius: 4px;
  padding: 6px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 6px;
}
.svg-icon {
  display: inline-flex;
  align-self: center;
  position: relative;
  height: 1em;
  width: 1em;
}
.svg-icon svg,
.svg-icon img {
  height:1em;
  width:1em;
  border: none;
  box-shadow: none;
}
.svg-icon.svg-baseline svg,
.svg-icon.svg-baseline img {
  bottom: -0.125em;
  position: absolute;
}
.tec-header{
  margin-bottom: 0.56em;
}
.space-right {
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;
}

#glitch {
  height: 110px;
  width: 800px;
  position: absolute;
  top: 0;
}

.cols {
  display: flex;
  flex-wrap: wrap;
}
.cols > div {
  flex: 1 1 auto;
}
.col60{
  width: 60%;
}
.col40 {
  text-align: center;
}

.col40 > div {
  display: inline-block;
}

.bigger {
  font-size: 1.2em;
}

.destaque {
  padding: 6px 10px;
  margin: 3px;
  border: 1px solid #CCC;
  border-radius: 4px;
  display: inline-block;
}

.sucesso {
  border-color: green;
  color: green;
}
.erro {
  border-color: red;
  color: red;
}

.form {
  box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.2);
  min-width: 300px;
}
#form-msg{
  text-align: center;
}
#form-msg > div {
  font-weight: 600;
}

#github {
  text-align: center;
}

.in-shadow {
  box-shadow: inset 0 3px 10px 0 rgba(0, 0, 0, 0.80);
}

@media (min-width: 500px){
  .menu {
    flex-direction: row;
  }
  .projeto > div:last-child {
    margin-left: 20px;
  }
}

@media (min-width: 700px){
  .col40 {
    padding: 0 0 0 40px;
  }
  .col40 > div {
    display: block;
  }
}

@media (min-width: 800px){
  footer {
    padding: 10px 10px 20px;
  }

  .menu {
    position: sticky;
  }
  .menu > .item {
    border-right: 1px solid #000000;
  }
  .container {
    padding: 0;
  }
  .page > .item {
    margin: 0;
  }
  .destaque {
    padding: 6px 35px;
    margin: 6px 10px;
  }
}

.skillbar {
  position:relative;
  display:block;
  margin-bottom:15px;
  width:100%;
  background:#eee;
  height:35px;
  border-radius:3px;
  transition:0.4s linear;
  transition-property:width, background-color;
}

.skillbar-title {
  position:absolute;
  top:0;
  left:0;
  width:126px;
  font-weight:bold;
  font-size:13px;
  color:#ffffff;
  background:#6adcfa;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-title span {
  display:block;
  background:rgba(0, 0, 0, 0.1);
  padding:0 0 0 16px;
  height:35px;
  line-height:35px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-bar {
  height:35px;
  width:0;
  background:#6adcfa;
  border-radius:3px;
  transition: width 6s ease-out;
}

.skill-bar-percent {
  position:absolute;
  right:10px;
  top:0;
  font-size:11px;
  height:35px;
  line-height:35px;
  color:#ffffff;
  color:rgba(0, 0, 0, 0.4);
}
